nv overlay evpn
feature vn-segment-vlan-based
feature nv overlay
!
l2vpn evpn
  replication-type static
  router-id Loopback0
!
vlan {{ vlan_id }}
  vn-segment {{ vni }}
!
interface nve1
  no shutdown
  source-interface Loopback0
  host-reachability protocol bgp
{% for vni_member in [vni] %}
  member vni {{ vni_member }}
    ingress-replication protocol bgp
{% endfor %}
!
router bgp {{ local_asn }}
  address-family l2vpn evpn
{% for peer in vtep_peers %}
    neighbor {{ peer.address }} activate
    neighbor {{ peer.address }} send-community both
{% endfor %}
  !
  l2vpn evpn instance {{ evpn_instance_id }} point-to-point
    rd {{ rd }}
    route-target import {{ route_target }}
    route-target export {{ route_target }}
