router bgp {{ local_asn }}
   router-id {{ router_id }}
{% for peer in peers %}
   neighbor {{ peer.address }} remote-as {{ peer.remote_asn }}
{% if peer.description is defined and peer.description %}
   neighbor {{ peer.address }} description {{ peer.description }}
{% endif %}
{% endfor %}
   !
   address-family ipv4
{% for peer in peers %}
      neighbor {{ peer.address }} activate
{% endfor %}
{% if import_strategy is defined and import_strategy %}
      redistribute {{ import_strategy }}
{% endif %}