evpn-overlay enable
bgp {{ local_asn }}
{% for peer in vtep_peers %}
  peer {{ peer.address }} as-number {{ peer.remote_asn }}
  peer {{ peer.address }} connect-interface LoopBack0
{% endfor %}
  #
  l2vpn-family evpn
{% for peer in vtep_peers %}
    peer {{ peer.address }} enable
    peer {{ peer.address }} advertise l2vpn evpn
{% endfor %}
bridge-domain {{ bridge_domain_id }}
  vxlan vni {{ vni }}
interface Vbdif{{ bridge_domain_id }}
  ip address {{ vbdif_ip }}
{% if advertise_arp is defined and advertise_arp %}
  arp collect host
{% endif %}
