evpn-overlay enable
#
bgp {{ local_asn }}
{% if rd_ip is defined and rd_ip %}
  peer {{ vtep_peers[0].address }} as-number {{ vtep_peers[0].remote_asn }}
  peer {{ vtep_peers[0].address }} connect-interface LoopBack0
{% endif %}
  #
  l2vpn-family evpn
    peer {{ vtep_peers[0].address }} enable
    peer {{ vtep_peers[0].address }} advertise l2vpn evpn
#
bridge-domain {{ bridge_domain_id }}
  vxlan vni {{ vni }}
#
interface Vbdif{{ bridge_domain_id }}
  ip address {{ vbdif_ip }}
{% if advertise_arp is defined and advertise_arp %}
  arp collect host
{% endif %}
